.user-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('../img/user-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.user-dropdown:hover #userMenu {
    display: block;
}

.user-dropdown #userMenu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    left: auto;
}

    .user-dropdown #userMenu li {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .user-dropdown #userMenu li:hover {
            background-color: #f1f1f1;
        }
